h1 {
  color: #006666;
}

.topnav {
  background-color: CadetBlue;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #93D8D2;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

div.centered {
  display: flex;
  flex-direction: column;
  align-items: center;

}

div#mouse-circle {
    position: absolute;
    width: 64px;
    height: 64px;
    margin: -32px 0px 0px -32px;
    border: none;
    border-radius: 50%;
    pointer-events: none !important;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0);
}

@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);

body,html{margin:0;padding:0;height:100%;}
body{
  background: #FFFFFF;
  background-color: #CEE4E3;
  background-size:cover;
  font-family: 'Cabin Condensed', sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
svg{font-weight:bold;max-width:600px;height:100%;}
